<h2><%= @section.name %></h2>

<% if @section.lessons.any? %>
  <ul>
    <% @section.lessons.each do |lesson| %>
      <li><%= link_to lesson.name, section_lesson_path(@section, lesson) %></li>
      <% end %>
  </ul>
<% else %>
  <h3> No lessons yet</h3>
<% end %>
<hr>
<ul class="list-inline">
  <li><%= link_to "Back", sections_path %></li>
</ul>

<% content_for(:navbar) do %>
  <p class='pull-left'><%= link_to "New Section", new_section_path %></p>
  <p class='pull-left'><%= link_to "Edit", edit_section_path %></p>
  <p class='pull-left'><%= link_to "Add a Lesson", new_section_lesson_path(@section) %></p>
  <p class='pull-left'><%= link_to "Delete", section_path(@section),
  :data => {:confirm => "You sure?",
    :method => 'delete'}%></p>
  <a class='pull-right' href="etc">Section Contents</a>

<% end %>
